.body {
    font-family: "Arial", "Meiryo", sans-serif;
}

html {
    font-size: 20px;
}

.google-font {
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
}

.text-blue {
    color: skyblue;
}

.text-pink {
    color: rgb(255, 192, 203);
}